body {
    font-family: Comfortaa, sans-serif;
    color: #545454;
    margin:0px;
    font-size:100%;
    white-space: normal;
}

.info > .title {
    margin-top: 1em;
    font-size: 1.8em;
    font-weight: 800;
}

.media {
    background-image: url(Don_Giovanni.jpg);
    height: 140px;
    margin-top: 0.5em;
    margin-left: 0px;
    position: relative;
}

.media > .title {
    color: white;
    bottom: -87px;
    position: relative;
    font-size: 3em;
    background-color: rgba(0,0,0,0.7);
    margin-left: 0px;
}

/*στο trinket δεν κρατάει το minimum width στον browser λειτουργει κανονικα*/
.card{
    max-width: auto;
    min-width: 150;
    border-radius: 15px;
    box-shadow: 2px 2px 5px 10px rgb(231, 229, 229);
    border: solid rgb(231, 229, 229);
    margin: 5px;
}

.card > .info {
    padding: 0 0.5em 0 0.5em;
    border-radius: 0.5em;
    font-weight: lighter;
}

.venue {
    font-size: 1.5em;
    padding-top: 0.5em;
}

.overview {
    padding: 0 1em 0 1em;
}

.overview > .role-name > .name {
    font-weight: bolder;
    padding-top: 1.5em;
}

.name > .role {
    font-weight: lighter;
    border-left: orange solid;
    padding-left: 0.5em;
}

.important {
    margin-top: 1.5em;
    font-weight: bolder;
    font-style: italic;
}

.dates {
    font-style: italic;
    font-weight: bolder;
    padding-top: 0.5em;
    cursor: pointer;
}

#b {
    display: none;
    padding-left: 1em;
}

#a:hover + #b{
    display: inline;
    font-weight: bolder;
}

.secondary {
    margin-top: 1.5em;
    margin-left: 0.5em;
}

.secondary > .details-menu {
    font-size: 1.5em;
    font-weight: 800;
    display: inline;
    cursor: pointer;
}

.details-menu:hover {
    color: orange;    
}

.details-menu > a {
    display: inline;
    text-decoration: none;
    color: #545454;
    cursor: pointer;
}

.details-menu > a:before {
    content: "• ";
    color: #545454;
}

a:hover {
    color: orange;
}

.synopsis {
    margin-left: 1.5em;
    margin-top: 1.5em;
}

p > a {
    padding-top: 2em;
    color: black;
    padding-bottom: 0.5px;
    text-decoration: none;
    border-bottom: 4px solid black;
}

p > a:hover {
    color:black;
    border-bottom: 4px solid orange;
}

.roles > .role-name > .name {
    font-weight: bolder;
    padding-top: 1.5em;
    font-size: 12px;
    padding-right: 1em;
    margin-left: 2em;
}

hr {
    position: relative;
    box-shadow: 0 1px 1px 1px lightgray;
    border: none;
    margin-left: 0;
    margin-right: 0;
    margin-top: 2em;
}

.button {
    background-color: orange;
    color: white;
    border: none;
    padding: 1.5em;
    border-radius: 20px;
    font-size: 1em;
    font-weight: bolder;
    cursor: pointer;
    margin-left: 1.5em;
}

.button:hover {
    background-color: white;
    color: #545454;
    font-size: 1em;
    font-weight: bolder;
    cursor: pointer;
}

